{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "10.15.1"
        }
      }
    ]
  ],
  "plugins": [
    "transform-flow-strip-types",
    "transform-object-rest-spread",
    "transform-class-properties",
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "pg": "./src",
          "test": "./test"
        }
      }
    ]
  ]
}
